node_modules/
.env
.nvm/
.DS_Store  # if you're using macOS and transferring files from it
*.log
.bash*
.config/
.local/
.vscode/
snap/
*.png
*.inf
*.AppImage
Downloads/
Desktop/
Music/
Pictures/
Templates/
Videos/
